@import url('../css/common.css');


.carousel img {
    height: auto;
    max-height: 60rem;
    object-fit: cover; /* Altura máxima */
}

.carousel-caption {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
    padding: 1rem 2rem;
}


.carousel-caption p {
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.carousel-caption h5 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.3;
}

main {
    background-color: #f8f9fa;
}


/*INICIO BENEFICIOS*/
.beneficios {
    padding-top: 2rem;
}

.item-beneficio {
    background-color: #fff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}
.item-beneficio:hover {
    transform: translateY(-5px);
}
.tarjeta-beneficio i {
    font-size: 2.5rem;
    color: var(--primary-color);
}

.contenido-beneficio {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contenido-beneficio span {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--dark-color);
}

.contenido-beneficio p {
    color: #777;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 768px) {

    .tarjeta-beneficio {
        padding: 1rem;
    }

}

/*FIN BENEFICIOS*/

/*INICIO CATEGORÍAS*/
.top-categorias {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

.titulo {
    margin-bottom: 1rem;
}

.categorias {
    height: auto;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    position: relative;
    overflow: hidden;
}
.categorias:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.5); /* Efecto de oscurecimiento */
}
.categorias::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
}
.categorias:hover::before {
    opacity: 1;
}
.categorias p {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    z-index: 2;
    position: relative;
}
.categorias span a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    z-index: 2;
    position: relative;
    transition: color 0.3s ease;
}
.categorias {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease forwards;
}
.alimento {
    background-image: linear-gradient(#00000080, #00000080), url('https://u-static.fotor.com/images/text-to-image/result/PRO-94dd9808b1434b9988ff4fd6baf93528.jpg');
    background-size: cover;
    background-position: above;
    background-repeat: no-repeat;
}

.bebida {
    background-image: linear-gradient(#00000080, #00000080), url('https://u-static.fotor.com/images/text-to-image/result/PRO-d0604803b6274ef89539d0c370ee019b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.lacteo {
    background-image: linear-gradient(#00000080, #00000080), url('https://u-static.fotor.com/images/text-to-image/result/PRO-627ab0bf858c48abbe828959e8f0404b.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media(max-width: 768px) {
    .lacteo {
        margin-top: 1rem;
    }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* Estilo para el modal de beneficios */
#benefit-modal .modal-content {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    padding: 20px;
    border: 3px solid var(--primary-color);
    max-width: 600px; /* Ancho máximo del modal */
    width: 90%; /* Asegura que el modal sea responsivo */
    max-height: 90vh; /* Limita la altura máxima al 90% de la ventana */
    overflow-y: auto; /* Agrega un scroll si el contenido excede la altura */
    position: relative;
    animation: fadeIn 0.4s ease-in-out;
}

#benefit-modal .modal-body {
    text-align: center;
    padding: 20px;
}

#benefit-modal .modal-body i {
    color: var(--primary-color);
    font-size: 5rem;
    margin-bottom: 20px;
}

#benefit-modal .modal-body h4 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

#benefit-modal .modal-body p {
    font-size: 1.4rem;
    color: #555;
    line-height: 1.8;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.categorias span a:hover {
    color: var(--primary-color);
}

/*FIN CATEGORIAS*/

/*OPCIONES*/
.caja-opciones {
    margin-top: 2rem;
}

.option {
    color: #777;
    display: flex;
    background-color: #fff;
    font-size: 1.4rem;
    padding: .9rem 2rem;
    text-transform: capitalize;
    border-radius: 2rem;
    cursor: pointer;
    justify-content: center;
}

.option:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.option.active {
    background-color: var(--primary-color);
    color: #fff;
}

/* Contenedor grid para las tarjetas */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 columnas iguales */
    gap: 30px;
    /* Espacio entre tarjetas */
}

@media (max-width: 992px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas en pantallas más pequeñas */
    }
}

@media (max-width: 576px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        /* 1 columna en pantallas muy pequeñas */
    }
}

.product-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2.5rem;
    text-align: center;
    height: 100%;
    /* Asegura que todas las tarjetas tengan la misma altura */
    position: relative;
    /* Necesario para la posición absoluta del button-group */
    transition: transform 0.3s ease;
    /* Animación suave al pasar el cursor */
}

.product-card:hover {
    transform: translateY(-10px);
    /* Hace que la tarjeta suba un poco al pasar el cursor */
}

.product-card h3 {
    margin: 15px 0;
    min-height: 40px;
    /* Controla la altura del nombre del producto */
}

.product-card .star-container {
    display: flex;
    /* Usamos flexbox para alinear las estrellas horizontalmente */
    justify-content: center;
    /* Centramos las estrellas */
    gap: 5px;
    /* Espacio entre estrellas */
    padding-top: 2rem;
    /* Espacio entre estrellas y el siguiente elemento */
}

.product-card .star-container i {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.product-card .price-container {
    display: flex;
    /* Usamos flexbox para alinear los precios en la misma línea */
    justify-content: flex-end;
    /* Alinea los precios a la derecha */
    gap: 5px;
    /* Espacio entre el precio descuento y el precio original */
    color: black;
    font-weight: 500;
}

.product-card span {
    font-size: 15px;
}

.product-card .price-original {
    text-decoration: line-through;
    color: grey;
    font-weight: normal;
}

.product-card .product-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Estilo del icono del carrito dentro del círculo */
.cart-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    cursor: pointer;
    transition: all .4s ease;
}

.cart-icon i {
    font-size: 1.5rem;
}

.cart-icon:hover {
    background-color: var(--primary-color);
}

.cart-icon:hover i {
    color: #fff;
}

/* Estilo del grupo de botones que aparece al hover */
.button-group {
    position: absolute;
    top: 100px;
    right: 10px;
    /* Ajusta la distancia desde el lado derecho */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 0;
    transition: all 0.6s ease;
}

.button-group span {
    color: var(--primary-color);
    padding: .7rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button-group span:hover {
    background-color: var(--primary-color);
    color: #fff;
    transform: scale(1.1);
    /* Agranda un poco los íconos al pasar el cursor */
}

/* Mostrar el button-group al hacer hover en la tarjeta */
.product-card:hover .button-group {
    opacity: 1;
}

/* Estilo del descuento */
.discount {
    position: absolute;
    top: 10px;
    /* Espacio desde la parte superior */
    left: 10px;
    /* Espacio desde la izquierda */
    background-color: var(--primary-color);
    /* Color de fondo */
    color: white;
    /* Color del texto */
    padding: 4px 1.5rem;
    /* Espaciado interno */
    border-radius: 2rem;
    /* Esquinas redondeadas */
    z-index: 10;
    /* Asegura que esté por encima de otros elementos */
    font-size: 0.7em;
    /* Tamaño de fuente responsivo */
    opacity: 0;
}

.discount span {
    font-size: 1.3rem;
}

/* Mostrar el button-group al hacer hover en la tarjeta */
.product-card:hover .discount {
    opacity: 1;
}

/*TAMAÑO DEL DESCUENTO*/
@media (max-width: 384px) {
    .discount {
        font-size: 0.9em;
        /* Tamaño de fuente más pequeño en pantallas pequeñas */
        padding: 4px 0.5rem;
        /* Espaciado interno más pequeño */
    }
}

/* Cambiar la disposición del precio en pantallas pequeñas */
@media (max-width: 472px) {
    .product-card .price-container {
        flex-direction: column;
        /* Apilar los precios verticalmente */
        align-items: flex-end;
        /* Alinear los precios a la derecha */
    }
}

@media (max-width: 330px) {
    .price-container span {
        font-size: 13px;
    }
}

/*FIN LISTA DE PRODUCTOS*/

.container-galeria{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.galeria {
    padding: 1rem;
}

.galeria img {
    border-radius: 1rem;
}

@media(max-width: 1113px) {
    .caja-opciones {
        margin-top: 1rem;
    }

    .option {
        font-size: 1rem;
        padding: .7rem 0rem;
    }
}
@media(max-width: 768px) {
    .galeria {
        padding: 0.5rem;
    }
}
@media(max-width: 323px){
    .caja-opciones {
        margin-top: 1rem;
    }

    .option {
        font-size: 0.7rem;
        padding: .7rem 0rem;
    }
}
/* Estilo para el modal de blogs */
#blog-modal .modal-content {
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    background: linear-gradient(135deg, #ffffff, #f9f9f9);
    padding: 20px;
    border: 3px solid var(--primary-color);
    max-width: 600px; /* Ancho máximo del modal */
    width: 90%; /* Asegura que el modal sea responsivo */
    max-height: 90vh; /* Limita la altura máxima al 90% de la ventana */
    overflow-y: auto; /* Agrega un scroll si el contenido excede la altura */
    position: relative;
    animation: fadeIn 0.4s ease-in-out;
}

#blog-modal .modal-body {
    text-align: center;
    padding: 20px;
}

#blog-modal .modal-body img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 20px;
}

#blog-modal .modal-body h4 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary-color);
}

#blog-modal .modal-body p {
    font-size: 1.3rem;
    color: #555;
    line-height: 1.6;
}

/* Animación de entrada del modal */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
    #blog-modal .modal-body img {
        margin-bottom: 15px;
    }

    #blog-modal .modal-body h4 {
        font-size: 1.6rem;
    }

    #blog-modal .modal-body p {
        font-size: 1.2rem;
    }
}
/* Estilos base del modal */
.product-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1050;
}

.hidden {
    display: none;
}

.modal-content {
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    max-width: 800px;
    width: 90%;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
}

.modal-image {
    max-width: 300px; /* Define un ancho máximo para la imagen en el modal */
}

.modal-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.modal-info h3{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
}
.modal-price {
    justify-content: center;
    font-size: 2.2rem;
    color: #333;
    display: flex;
    gap: 30px;
    align-items: center;
    margin-bottom: 2rem;
}
.modal-content .star-container{
    display: flex;
    font-size: 1.6rem;
    color: var(--primary-color);
    justify-content: center;
    margin-bottom: 2rem;
}
.price-original {
    text-decoration: line-through;
    color: gray;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        align-items: center;
    }

    .modal-info {
        padding-left: 0;
        text-align: center;
    }

    .modal-image img {
        max-width: 120px;
    }
}
@media (max-width: 493px){
    .modal-info h3{
        font-size: 2rem;
    }
    .modal-price {

        font-size: 1.8rem;

    }
    .modal-content .star-container{
        display: flex;
        font-size: 1.6rem;
        color: var(--primary-color);
        justify-content: center;
        margin-bottom: 2rem;
    }
}

.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}